In [1]:
import pandas as pd
rird = pd.read_csv('https://raw.githubusercontent.com/D3Mlab/rir/main/data/PMD.csv')

rird_clean = (
    rird
    .rename(columns = {'Restaurant name': 'restaurant', 'If only Low or  High': 'relevant'})
    [['query', 'restaurant', 'relevant']]
    .sort_values('query')
)

rird_clean

                   query               restaurant  relevant
2272  A bar with a patio                     Miku         0
3272  A bar with a patio  Hokkaido Ramen Santouka         0
1472  A bar with a patio       Kekou Gelato House         0
3172  A bar with a patio            Konjiki Ramen         0
4472  A bar with a patio        Barque Smokehouse         0
...                  ...                      ...       ...
2297     unhealthy salad                     Miku         0
2197     unhealthy salad  Messini Authentic Gyros         0
2097     unhealthy salad  Manpuku Japanese Eatery         0
4497     unhealthy salad        Barque Smokehouse         0
2797     unhealthy salad               La Carnita         0

[5001 rows x 3 columns]

In [6]:
multi_aspect_queries = {
    'Italian place with a burger': ['Italian place', 'burger'],
    'A cafe that also offers beer': ['cafe', 'beer'],
    'Japanese restaurant with pasta': ['Japanese restaurant', 'pasta'],
    'An ice cream shop with bubble tea': ['ice cream shop', 'bubble tea'],
    'I am in search of a fancy Pakistani restaurant with authentic food': ['fancy', 'Pakistani restaurant']
}

# (
#     rird_clean
#     .groupby('query')
#     ['relevant'].sum()
#     .sort_values()
#     .head(10)
# )

In [9]:
[x for xs in multi_aspect_queries.values() for x in xs]

['Italian place',
 'burger',
 'cafe',
 'beer',
 'Japanese restaurant',
 'pasta',
 'ice cream shop',
 'bubble tea',
 'fancy',
 'Pakistani restaurant']